<section class="hero">
    <div class="hero__container container container--lg">
        <div class="hero__intro">
            <h1 class="hero__title title-home"><span>Crypto</span> <span>Partisans</span></h1>
        </div>
    </div>
    <div class="container container--lg">
        <iframe src="https://discord.com/widget?id=843323674618363954&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
</section>